.titlecards{
   margin-top: 50px;
   margin-bottom: 30px;
}
.titlecards h2{
    margin-bottom: 8px;
}
.cards_data{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.cards_data::-webkit-scrollbar{
    display: none;
}
.cards_data img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.cards {
    position: relative;
   
}
.cards p{
    bottom: 10px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    right: 10px;
}
@media (max-width:700px) {
    .titlecards{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .titlecards h2{
        font-size: 20px;
    }
    .cards img{
        width: 200px;
    }
    .cards p{
        font-size: 12px;
    }
    
}
@media (max-width:400px) {
 
    .titlecards h2{
        font-size: 15px;
    }
    .cards img{
        width: 150px;
    }
    .cards p{
        font-size: 10px;
    }
    
}