.hero{

    position: relative;

}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right,transparent ,black 75%);
    -webkit-mask-image:linear-gradient(to right,transparent ,black 75%)
}
.hero-caption{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 6%;
}
.caption-img{
margin-bottom: 30px;
    width: 90%;
    max-width: 420px;
}
.hero-caption  p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;

}
.hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.hero-btns .btn {
    border: 0;
    outline: 0;
    gap: 10px;
    padding: 8px 25px;  /* Reduced padding for a smaller button */
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    height: 40px; 
}


.hero-btns .btn img {
    
    width: 20px;  
}

.hero-btns .btn.dark-btn {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.hero-btns .btn:hover{
    background-color: #5a5757bf;
    color: white;
   
}
.hero-btns .btn.dark-btn:hover{
    background-color: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}
@media (max-width:1069px) {
    .hero-caption .titlecards{
        display: none;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns{
        margin-bottom: 20px;
    }


}
@media (max-width:700px) {
    .hero-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-btns .btn img{
        width: 20px;

    }
    .more-cards {
        padding-left: 5%;
    }
    
}
@media (max-width:500px) {
    .caption-img{
        display: none;
    }
    .hero-btns   .btn img{
        width: 14px;
    }
 .btn {
        padding: 4px 10px;
        gap: 4px;
        font-size: 10px;
    }
}